.button-3D {
    width: 150px;
    perspective: 1000px;
    transform-style: preserve-3d;
    position: relative;
    display: inline-flex;
    height: 50px;
    font-size: 0.9375rem;
    line-height: 46px;
    color: #fff;
    text-align: center;
    font-weight: 700;
    cursor: pointer;

    .pane {
        position: absolute;
        top: 0;
        left: 0;
        transition: all 0.4s ease;

        &.pane-front {
            width: 172.5px;
            height: 250px;
            transform: rotateY(-0deg) translateZ(25px);
        }

        &.pane-right {
            width: 30px;
            height: 250px;
            transform: rotateY(90deg) translateZ(125px);
            background-color: gray;
        }

        &.pane-left {
            width: 30px;
            height: 250px;
            transform: rotateY(-90deg) translateZ(25px);
            background-color: black;
        }

        &.pane-top {
            width: 172.5px;
            height: 30px;
            transform: rotateX(90deg) translateZ(25px);
            background-color: gray;
        }

        &.pane-bottom {
            width: 172.5px;
            height: 30px;
            transform: rotateX(-90deg) translateZ(25px);
            background-color: gray;
        }
    }
}