img {
  width: 300px;
}

h2 {
  text-align: center;
}

header {
  height: 100px;
  background-color: red;
}
main {
  height: calc(100vh - 200px);
  background-color: grey;
}
footer {
  height: 100px;
  background-color: white;
}
